function Main.main 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 230
push constant 239
push constant 230
push constant 50
add
push constant 239
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
